<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoLists - Login Page</title>
</head>
<body>
    <span>
        <div align="center">
            Hello!
        </div>
        <br/>

        <div sec:authorize="!isAuthenticated()" align="center">
            <div>
                To continue, please <a th:href="@{/oauth2/authorization/auth0}">log in</a>.
            </div>
        </div>

        <div sec:authorize="isAuthenticated()" align="center">
            You are already logged in as: <span sec:authentication="name"></span><br/>
            You can use <a th:href="@{/swagger-ui.html}">Swagger UI</a> for further operations <br/><br/>
            <a th:href="@{/logout}">Log Out</a>.
        </div>
    </span>
</body>
</html>